* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Preloader Styles */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    /* Cor de fundo do preloader */
    display: flex;
    flex-direction: column;
    /* Alinha a imagem e o spinner verticalmente */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Garante que o preloader fique acima de tudo */
}

#preloader .preloader-logo {
    width: 500px;
    /* Largura da imagem */
    height: auto;
    /* Mantém a proporção da imagem */
    margin-bottom: 70px;
    /* Espaçamento entre a imagem e o spinner */
}

#preloader .spinner {
    width: 70px;
    height: 70px;
    border: 5px solid #ccc;
    /* Cor da borda */
    border-top: 5px solid #000;
    /* Cor da borda superior */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    /* Animação de rotação */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    font-family: "Standup W01 Caps Regular", sans-serif;
    /* background-color: #fff9f1; */
}

.section-limited {
    max-width: 1024px;
    margin: 0 auto;
}

.section-banner,
.secao01,
.secao02 {
    position: relative;
    /* border-bottom: 4px solid transparent; */
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #e8c87f;
        animation: borderPass 1s linear forwards;
    }
}

@keyframes borderPass {
    0% {
        width: 0;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

header {
    background: linear-gradient(to right, #000000 10%, #3f3f3f 100%);
    /* Degradê do preto para um cinza escuro */

    & .section-header {
        & .content-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .content-header-left {
                & img {
                    width: 190px;
                    height: 120px;
                    object-fit: contain;
                }
            }

            & .content-header-right {
                & nav ul {
                    list-style-type: none;
                    display: flex;

                    & li {
                        text-decoration: none;

                        & a {
                            margin-left: 30px;
                            color: #fff;
                            text-decoration: none;

                            font-size: 19px;
                            /* letter-spacing: 2px; */
                            font-family: "Montserrat", sans-serif;
                            font-weight: 400;
                            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                            position: relative;
                        }

                        & a::before {
                            content: "";
                            position: absolute;
                            width: 35px;
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: #dddddd;
                            transition: all 0.3s ease-in-out 0s;
                        }

                        & a:hover {
                            color: #dddddd;
                            transition: 500ms;
                        }

                        & a:hover::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/* ----------------INICIO DAS ESTILICAÇÕES DO BANNER------------ */
.section-banner {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #000000 10%, #3f3f3f 100%);
    /* Degradê do preto para um cinza escuro */
}

.section-banner .content-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    position: relative;
    z-index: 2;
    padding: 50px;
}

.section-banner .content-banner h1 {
    font-size: 80px;
    letter-spacing: 8px;
    font-weight: normal;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.699);
}

.section-banner .content-banner p {
    font-size: 30px;
    letter-spacing: 25px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section-banner .banner-img img {
    height: 90vh;
    margin: 40px 40px 0 0;
    filter: drop-shadow(2px 2px 40px rgba(150, 150, 150, 0.301));
    position: absolute;
    top: 81px;
    right: 0;
    z-index: 1;
}

.test {
    height: 100vh;
}

& main {
    & .section-banner {
        & .content-banner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            width: 100%;

            & .content-inf-banner {
                width: 400px;

                text-align: center;

                & h2 {
                    color: #ccc;
                    font-weight: normal;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    margin-top: 25px;
                    font-size: 27px;
                }

                & p {
                    width: 100%;
                    /* margin: 20px 0; */

                    & span {
                        text-align: center;
                        color: #e8c87f;
                        width: 100%;
                        font-weight: bold;
                        line-height: normal;
                        font-size: 35px;
                        border-bottom: 0.5px solid #cccccc;
                        letter-spacing: 15px;
                    }
                }

                & .botao-comprar {
                    width: 80%;
                    margin: 0 auto;
                    margin-top: 25px;

                    & a {
                        text-decoration: none;

                        & p {
                            color: #000;
                            font-weight: bold;
                            font-size: 15px;
                            background-color: #e8c87f;
                            padding: 15px;
                            border-radius: 10px;
                            font-family: Arial, Helvetica, sans-serif;
                            letter-spacing: 3px;
                        }
                    }
                }
            }
        }
    }

    & .secao01 {
        background-color: #000000;
        border-top: 1px solid #000000;
        width: 100%;
        height: 100vh;

        & .content-secao01 {
            & .secao01-text {
                margin-top: 25px;
                text-align: center;
                width: 85%;
                margin: 0 auto;

                & h2 {
                    color: #fff;
                    font-weight: bold;
                    font-size: 37px;
                    letter-spacing: 2px;
                    margin: 50px 0 30px 0;
                }

                & .cards {
                    display: flex;
                    flex-direction: column;
                    gap: 35px;

                    & .card {
                        border: 1px solid #e8c87f;
                        border-radius: 7px;
                        padding: 20px;
                        width: 98%;
                        margin: 0 auto;

                        & p {
                            color: #fff;
                            font-size: 20px;
                        }
                    }

                    & .impar {
                        margin-left: 0px;
                    }

                    & .par {
                        margin-right: 0px;
                        /* Desloca para a direita */
                    }
                }

                & .botao-comprar {
                    width: 40%;
                    margin: 0 auto;
                    margin-top: 70px;

                    & a {
                        text-decoration: none;

                        & p {
                            color: #000;
                            font-weight: bold;
                            font-size: 15px;
                            background-color: #e8c87f;
                            padding: 15px;
                            border-radius: 7px;
                            font-family: Arial, Helvetica, sans-serif;
                            letter-spacing: 3px;
                        }
                    }
                }
            }
        }
    }

    & .secao02 {
        background-color: #000000;
        border-top: 1px solid #000000;
        width: 100%;
        height: 100vh;

        & .content-secao02 {
            & .secao02-text {
                margin-top: 25px;
                text-align: center;

                & h2 {
                    color: #fff;
                    font-weight: bold;
                    font-size: 37px;
                    letter-spacing: 2px;
                    margin: 50px 0 40px 0;
                }

                & .section-cards {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    width: 85%;
                    height: 400px;
                    margin: 0 auto;

                    & .card {
                        width: calc((100% / 3) - 12px);
                        height: 90%;
                        border-radius: 15px;

                        & img {
                            width: 100%;
                            height: 100%;
                            border-radius: 15px;
                            border: 2px solid #c59c3d;
                        }
                    }
                }

                & .botao-comprar {
                    width: 40%;
                    margin: 0 auto;
                    margin-top: 70px;

                    & a {
                        text-decoration: none;

                        & p {
                            color: #000;
                            font-weight: bold;
                            font-size: 15px;
                            background-color: #e8c87f;
                            padding: 15px;
                            border-radius: 7px;
                            font-family: Arial, Helvetica, sans-serif;
                            letter-spacing: 3px;
                        }
                    }
                }
            }
        }
    }

    & .secao03 {
        background-color: #000000;
        border-top: 1px solid #000000;
        width: 100%;
        height: 100vh;

        & .content-secao03 {
            text-align: center;
            max-width: 80%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 150px;

            & h2 {
                color: #fff;
                font-weight: bold;
                font-size: 37px;
                letter-spacing: 2px;
                margin: 50px 0 40px 0;
            }

            & .depoiments {
                display: flex;
                /* width: 100%; */

                & .depoiments-text {
                    height: 250px;
                    width: 300px;
                    margin: 20px;
                    border: 1px solid #c59c3d;
                    border-radius: 8px;
                    padding: 0 20px 20px 20px;

                    & .dados-pessoais {

                        & a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-decoration: none;
                            width: 80%;
                            height: 20%;
                            margin: 15px;
                            color: #fff;


                            & img {
                                width: 25px;
                                height: 25px;
                                color: #fff;
                                margin-right: 15px;
                                background-color: #fff;
                                padding: 2px;
                                border-radius: 6px;
                            }

                            & p {
                                font-size: 12px;
                                color: #cccccc;
                            }
                        }
                    }

                    & .depoimento {

                        & p {
                            color: #fff;
                            font-size: 17px;
                            font-weight: normal;
                        }
                    }
                }
            }

            & .botao-comprar {
                width: 40%;
                margin: 0 auto;
                margin-top: 70px;

                & a {
                    text-decoration: none;

                    & p {
                        color: #000;
                        font-weight: bold;
                        font-size: 15px;
                        background-color: #e8c87f;
                        padding: 15px;
                        border-radius: 7px;
                        font-family: Arial, Helvetica, sans-serif;
                        letter-spacing: 3px;
                    }
                }
            }
        }
    }

    & .secao04{
        height: 100vh;
        background-color: #0000003f;

        & .content-section04{

            & h2{
                color: #fff;
                font-weight: bold;
                font-size: 37px;
                letter-spacing: 2px;
                padding: 50px 0 40px 0;
                text-align: center;
            }
        }
    }
}

/* ---------------Efeito de pulsar no botão "QUERO COMPRAR"--------------- */
.botao-comprar a p {
    animation: pulse 1.5s infinite;
    /* Animação contínua */
    transition: transform 0.3s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        /* Tamanho normal */
    }

    50% {
        transform: scale(1.1);
        /* Leve aumento */
    }

    100% {
        transform: scale(1);
        /* Volta ao tamanho normal */
        /* }------------------------------------------------------------ */
    }

    footer {
        background-color: #151515;

        & .section-footer {
            & .content-footer {
                display: flex;
                flex-direction: column;
                text-align: center;

                & .content-01 {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    margin-bottom: 50px;

                    border-bottom: 2px solid;
                    border-image: linear-gradient(90deg,
                            rgba(60, 74, 83, 0),
                            #e6e6e6,
                            rgba(60, 74, 83, 0)) 1;

                    & h5,
                    p {
                        color: #fff;
                        font-size: 22px;
                    }

                    & .redes {
                        max-width: 200px;
                        margin: 0 auto;
                        display: flex;
                        justify-content: space-between;
                        text-align: center;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        color: #fff;

                        & a {
                            color: #fff;
                            width: 80px;

                            & img {
                                color: #fff;
                                width: 80px;
                            }
                        }
                    }

                    & p {
                        font-size: 15px;
                        margin-top: 10px;
                        color: #fff;
                    }
                }

                & .content-02 {
                    background-color: #35353523;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 50%;
                    height: 180px;
                    margin: 0 auto;
                    border-radius: 25px;
                    position: relative;
                    /* Adiciona posição relativa */
                    overflow: hidden;
                    /* Garante que o conteúdo não saia dos limites */

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: inherit;
                        backdrop-filter: blur(5px);
                        /* Adiciona o efeito de blur no fundo */
                        z-index: 1;
                        /* Coloca o fundo atrás do conteúdo */
                    }

                    & a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 500px;
                        margin: 0 auto;
                        position: relative;
                        /* Garante que o conteúdo fique acima do fundo */
                        z-index: 2;
                        /* Coloca o conteúdo acima do fundo */
                        text-decoration: none;

                        & img {
                            width: 180px;
                        }

                        & p {
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }

                & .btn-whats {
                    position: fixed;
                    bottom: 20px;
                    right: 20px;
                    z-index: 1000;
                    background-color: #25d366;
                    color: #fff;
                    border: none;
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    cursor: pointer;
                    transition: 0.3s;

                    & img {
                        position: absolute;
                        width: 40px;
                        bottom: 10px;
                        right: 9px;
                    }
                }

                & .btn-whats:hover {
                    background-color: #128c7e;
                    /* Cor ao passar o mouse */
                    transform: scale(1.2);
                    /* Aumenta o tamanho em 20% */
                    transition: transform 0.3s, background-color 0.3s;
                    /* Suaviza a transição */
                }
            }
        }
    }
}