* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Standup W01 Caps Regular", sans-serif;
    /* background-color: #fff9f1; */
}

.section-limited {
    max-width: 1024px;
    margin: 0 auto;
}

.destaque {
    font-weight: 600;
}

header {
    background: linear-gradient(to right, #000000 10%, #3f3f3f 100%);
    /* Degradê do preto para um cinza escuro */

    & .section-header {
        & .content-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .content-header-left {
                & img {
                    width: 190px;
                    height: 120px;
                    object-fit: contain;
                }
            }

            & .content-header-right {
                & nav ul {
                    list-style-type: none;
                    display: flex;

                    & li {
                        text-decoration: none;

                        & a {
                            margin-left: 30px;
                            color: #fff;
                            text-decoration: none;

                            font-size: 19px;
                            /* letter-spacing: 2px; */
                            font-family: "Montserrat", sans-serif;
                            font-weight: 400;
                            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                            position: relative;
                        }

                        & a::before {
                            content: "";
                            position: absolute;
                            width: 35px;
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: #dddddd;
                            transition: all 0.3s ease-in-out 0s;
                        }

                        & a:hover {
                            color: #dddddd;
                            transition: 500ms;
                        }

                        & a:hover::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

main {
    & .section-banner {
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        background: linear-gradient(to right, #000000 10%, #3f3f3f 100%);
        /* Degradê do preto para um cinza escuro */

        & .content-banner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            height: 100%;
            position: relative;
            z-index: 2;

            padding: 50px;

            & h1 {
                font-size: 80px;
                letter-spacing: 8px;
                font-weight: normal;
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.699);
            }

            & p {
                font-size: 30px;
                letter-spacing: 25px;
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }
        }

        & .banner-img img {
            height: 90vh;
            margin: 40px 40px 0 0;
            filter: drop-shadow(2px 2px 40px rgba(150, 150, 150, 0.301));
            position: absolute;
            top: 81px;
            right: 0;
            z-index: 1;
        }
    }

    & .about-section {
        width: 100%;
        display: flex;
        align-items: center;
        /* Centraliza verticalmente os elementos */
        justify-content: center;
        /* Centraliza horizontalmente os elementos */
        gap: 50px;
        /* Espaçamento lateral entre os elementos */
        padding: 50px 20px;
        /* Espaçamento interno (superior/inferior e lateral) */

        & .about-mirror {
            display: flex;
            justify-content: center;
            /* Centraliza a imagem horizontalmente */
            align-items: center;
            /* Centraliza a imagem verticalmente */

            & .mirror-frame {
                width: 300px;
                /* Largura do "espelho" */
                height: 400px;
                /* Altura do "espelho" */
                border-radius: 300px 300px 0 0;
                /* Bordas arredondadas */
                overflow: hidden;
                /* Garante que a imagem não ultrapasse os limites */
                border: 2px solid #000000;
                /* Borda preta */
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                /* Sombra para profundidade */
                background-color: #fff;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    /* Ajusta a imagem para cobrir o contêiner */
                }
            }
        }

        & .about-text {
            max-width: 500px;
            /* Limita a largura do texto */
            text-align: left;
            /* Alinha o texto à esquerda */
            padding: 40px 20px 0 20px;
            /* Espaçamento interno lateral */

            & h1 {
                font-size: 36px;
                font-weight: bold;
                color: #333;
                margin-bottom: 20px;
            }

            & p {
                font-size: 18px;
                color: #555;
                line-height: 1.6;
                margin-bottom: 20px;
            }
        }
    }

    & .section-bottom-services {

        & .content-bottom-services {

            & a {
                text-decoration: none;
                color: #dddddd;
                text-align: center;


                & p {
                    background: linear-gradient(to right, #272727, #3f3f3f);
                    font-size: 25px;
                    padding: 25px;
                    border-radius: 30px 20px;
                    width: 250px;
                    margin: 0 auto;
                    
                }
            }
        }
    }

    & .section-contact {
        z-index: -10;

        & .content-contact {
            & h3 {
                font-size: 35px;
                color: #000;
                margin-bottom: 20px;
                padding-top: 40px;
                text-align: center;
                border-top: 2px solid #ffffffde;
            }

            & p {
                font-size: 20px;
                color: #555;
                text-align: center;
                margin-bottom: 40px;
            }
        }

        & .carousel-container {
            position: relative;
            width: 80%;
            margin: 0 auto;
            height: 30vh;
            /* Aumenta a altura do carrossel */
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            & .carousel {
                display: flex;
                align-items: center;
                gap: 20px;
                transition: transform 0.5s ease-in-out;

                & .carousel-slide {
                    flex: 0 0 auto;
                    transition: transform 0.5s ease, opacity 0.5s ease;
                    opacity: 0.5;
                    cursor: pointer;

                    & img {
                        width: 250px;
                        /* Aumenta o tamanho das imagens */
                        height: 250px;
                        object-fit: cover;
                        border-radius: 10px;
                        transition: transform 0.5s ease, opacity 0.5s ease;
                    }
                }

                & .carousel-slide.active img {
                    transform: scale(1.2);
                    /* Aumenta ainda mais o tamanho da imagem */
                    opacity: 1;
                    z-index: 2;
                    /* Garante que a imagem ativa fique acima das outras */
                }
            }

            & .carousel-prev,
            .carousel-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                border: none;
                padding: 15px;
                /* Ajuste para centralizar o ícone */
                cursor: pointer;
                z-index: 10;
                border-radius: 50%;
                /* Torna os botões redondos */
                font-size: 20px;
                width: 40px;
                /* Define largura fixa */
                height: 40px;
                /* Define altura fixa */
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .carousel-prev {
                left: 10px;
            }

            & .carousel-next {
                right: 10px;
            }

            & .carousel-prev:hover,
            .carousel-next:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }

            /* Pop-up styles */
            & .popup {
                display: none !important;
                position: fixed;
                z-index: 1000;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                justify-content: center;
                align-items: center;
            }

            & .popup-content {
                max-width: 80%;
                max-height: 80%;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            }

            & .popup-close {
                position: absolute;
                top: 20px;
                right: 30px;
                color: white;
                font-size: 30px;
                font-weight: bold;
                cursor: pointer;
            }

            & .popup-prev,
            .popup-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                border: none;
                padding: 15px;
                /* Ajuste para centralizar o ícone */
                cursor: pointer;
                z-index: 1001;
                border-radius: 50%;
                /* Torna os botões redondos */
                font-size: 20px;
                width: 40px;
                /* Define largura fixa */
                height: 40px;
                /* Define altura fixa */
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .popup-prev {
                left: 20px;
            }

            & .popup-next {
                right: 20px;
            }

            & .popup-prev:hover,
            .popup-next:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }
        }


        & .contact-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding-bottom: 40px;
            /* background-color: #d8d4c9; */

            & p {
                max-width: 60%;
                line-height: 40px;
                font-size: 18px;
                color: #555;
                margin-top: 40px;
                margin-bottom: 20px;
                text-align: center;
            }

            & iframe {
                width: 70%;
                height: 400px;
                border: none;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
        }
    }

    & .section-bottom-services02 {
        margin: 30px 0;

        & .content-bottom-services02 {

            & a {
                text-decoration: none;
                color: #dddddd;
                text-align: center;


                & p {
                    background: linear-gradient(to right, #272727, #3f3f3f);
                    font-size: 25px;
                    padding: 25px;
                    border-radius: 30px 20px;
                    width: 250px;
                    margin: 0 auto;
                    
                }
            }
        }
    }
}

footer {
    background-color: #151515;

    & .section-footer {
        & .content-footer {
            display: flex;
            flex-direction: column;
            text-align: center;

            & .content-01 {
                padding-top: 20px;
                padding-bottom: 20px;
                margin-bottom: 50px;

                border-bottom: 2px solid;
                border-image: linear-gradient(90deg,
                        rgba(60, 74, 83, 0),
                        #e6e6e6,
                        rgba(60, 74, 83, 0)) 1;

                & h5,
                p {
                    color: #fff;
                    font-size: 22px;
                }

                & .redes {
                    max-width: 200px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    color: #fff;

                    & a {
                        color: #fff;
                        width: 80px;

                        & img {
                            color: #fff;
                            width: 80px;
                        }
                    }
                }

                & p {
                    font-size: 15px;
                    margin-top: 10px;
                    color: #fff;
                }
            }

            & .content-02 {
                background-color: #35353523;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 50%;
                height: 180px;
                margin: 0 auto;
                border-radius: 25px;
                position: relative;
                /* Adiciona posição relativa */
                overflow: hidden;
                /* Garante que o conteúdo não saia dos limites */

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: inherit;
                    backdrop-filter: blur(5px);
                    /* Adiciona o efeito de blur no fundo */
                    z-index: 1;
                    /* Coloca o fundo atrás do conteúdo */
                }

                & a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 500px;
                    margin: 0 auto;
                    position: relative;
                    /* Garante que o conteúdo fique acima do fundo */
                    z-index: 2;
                    /* Coloca o conteúdo acima do fundo */
                    text-decoration: none;

                    & img {
                        width: 180px;
                    }

                    & p {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

            & .btn-whats {
                position: fixed;
                bottom: 20px;
                right: 20px;
                z-index: 1000;
                background-color: #25d366;
                color: #fff;
                border: none;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                cursor: pointer;
                transition: 0.3s;

                & img {
                    position: absolute;
                    width: 40px;
                    bottom: 10px;
                    right: 9px;
                }
            }

            & .btn-whats:hover {
                background-color: #128c7e;
                /* Cor ao passar o mouse */
                transform: scale(1.2);
                /* Aumenta o tamanho em 20% */
                transition: transform 0.3s, background-color 0.3s;
                /* Suaviza a transição */
            }
        }
    }
}