* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Standup W01 Caps Regular", sans-serif;
    background-color: #f0f0f0;
}

.section-limited {
    max-width: 1024px;
    margin: 0 auto;
}

header {
    background: linear-gradient(to right,
            #000000 10%,
            #3f3f3f 100%);
    /* Degradê do preto para um cinza escuro */

    & .section-header {
        & .content-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .content-header-left {
                & img {
                    width: 190px;
                    height: 120px;
                    object-fit: contain;
                }
            }

            & .content-header-right {
                & nav ul {
                    list-style-type: none;
                    display: flex;

                    & li {
                        text-decoration: none;

                        & a {
                            margin-left: 30px;
                            color: #fff;
                            text-decoration: none;

                            font-size: 19px;
                            /* letter-spacing: 2px; */
                            font-family: "Montserrat", sans-serif;
                            font-weight: 400;
                            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                            position: relative;
                        }

                        & a::before {
                            content: "";
                            position: absolute;
                            width: 35px;
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: #dddddd;
                            transition: all 0.3s ease-in-out 0s;
                        }

                        & a:hover {
                            color: #dddddd;
                            transition: 500ms;
                        }

                        & a:hover::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

main {
    & .section-banner {
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        background: linear-gradient(to right,
                #000000 10%,
                #3f3f3f 100%);
        /* Degradê do preto para um cinza escuro */

        & .content-banner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            height: 100%;
            position: relative;
            z-index: 2;

            padding: 50px;

            & h1 {
                font-size: 80px;
                letter-spacing: 8px;
                font-weight: normal;
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.699);
            }

            & p {
                font-size: 30px;
                letter-spacing: 25px;
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }
        }

        & .banner-img img {
            height: 90vh;
            margin: 40px 40px 0 0;
            filter: drop-shadow(2px 2px 40px rgba(150, 150, 150, 0.301));
            position: absolute;
            top: 81px;
            right: 0;
            z-index: 1;
        }
    }

    & .section-sobre {
        margin-top: 70px;

        & .content-sobre {

            & h3 {
                font-size: 35px;
                color: #000;
                margin-bottom: 20px;
                margin-top: 30px;
                text-align: center;
            }

            & .content-final {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 20px;

                & .card01 {

                    & p {
                        font-size: 15px;
                        font-family: Arial, Helvetica, sans-serif;
                        line-height: 22px;
                        color: #1d1d1d;
                    }
                }

                & .card02 {

                    & .image {
                        width: 320px;
                        height: 480px;

                        background-color: #000000;
                        border-radius: 300px;
                        position: relative;
                    }

                    & .image::before {
                        content: "";
                        width: 325px;
                        height: 485px;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        position: absolute;
                        border-radius: 300px;
                        z-index: -1;
                        background: linear-gradient(90deg, #ffe99b, #ffe99b);
                    }
                }

                & .card03 {

                    & p {
                        font-size: 15px;
                        font-family: Arial, Helvetica, sans-serif;
                        line-height: 22px;
                        color: #1d1d1d;
                    }
                }
            }
        }
    }

    & .section-contact {

        & .content-contact {

            & h3 {
                font-size: 35px;
                color: #000;
                margin-bottom: 20px;
                margin-top: 80px;
                text-align: center;
            }

            & .gallery {
                position: relative;
                max-width: 100%;
                margin: auto;
                overflow: hidden;

                & .gallery-container {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    & .gallery-slide {
                        min-width: 100%;
                        box-sizing: border-box;
                        opacity: 0;
                        transition: opacity 0.5s ease-in-out;
                        /* position: absolute;
                        top: 0;
                        left: 0; */

                        & img {
                            width: 100%;
                            display: block;
                        }
                    }

                    & .gallery-slide.active {
                        opacity: 1;
                    }
                }

                & .prev,
                .next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: rgba(0, 0, 0, 0.5);
                    color: white;
                    border: none;
                    padding: 10px;
                    cursor: pointer;
                    z-index: 10;
                }

                & .prev {
                    left: 10px;
                }

                & .next {
                    right: 10px;
                }
            }
        }
    }
}

& .test {
    background-color: #f0f0f0;
    height: 100vh;
}

footer {
    background-color: #151515;

    & .section-footer {

        & .content-footer {
            display: flex;
            flex-direction: column;
            text-align: center;

            & .content-01 {
                padding-top: 20px;
                padding-bottom: 20px;
                margin-bottom: 50px;

                border-bottom: 2px solid;
                border-image: linear-gradient(90deg, rgba(60, 74, 83, 0), #e6e6e6, rgba(60, 74, 83, 0)) 1;

                & h5,
                p {
                    color: #fff;
                    font-size: 22px;
                }

                & .redes {
                    max-width: 200px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    color: #fff;

                    & a {
                        color: #fff;
                        width: 80px;

                        & img {
                            color: #fff;
                            width: 80px;
                        }
                    }
                }

                & p {
                    font-size: 15px;
                    margin-top: 10px;
                    color: #fff;
                }
            }

            & .content-02 {
                background-color: #35353523;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 50%;
                height: 180px;
                margin: 0 auto;
                border-radius: 25px;
                position: relative;
                /* Adiciona posição relativa */
                overflow: hidden;
                /* Garante que o conteúdo não saia dos limites */

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: inherit;
                    backdrop-filter: blur(5px);
                    /* Adiciona o efeito de blur no fundo */
                    z-index: 1;
                    /* Coloca o fundo atrás do conteúdo */
                }

                & a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 500px;
                    margin: 0 auto;
                    position: relative;
                    /* Garante que o conteúdo fique acima do fundo */
                    z-index: 2;
                    /* Coloca o conteúdo acima do fundo */
                    text-decoration: none;

                    & img {
                        width: 180px;
                    }

                    & p {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

            & .btn-whats {
                position: fixed;
                bottom: 20px;
                right: 20px;
                z-index: 1000;
                background-color: #25d366;
                color: #fff;
                border: none;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                cursor: pointer;
                transition: 0.3s;

                & img {
                    position: absolute;
                    width: 40px;
                    bottom: 10px;
                    right: 9px;
                }
            }

            & .btn-whats:hover {
                background-color: #128c7e;
                /* Cor ao passar o mouse */
                transform: scale(1.2);
                /* Aumenta o tamanho em 20% */
                transition: transform 0.3s, background-color 0.3s;
                /* Suaviza a transição */
            }
        }
    }
}